<div class="warning-footer">
  <p primary-text>
    This is demo site that present security threat. Do not put any personal
    information here as it may be compromised. See
    <a
      class="link"
      href="/blog/post/host-header-injection-dont-trust-request-headers/"
    >
      blog post
    </a>
    for more information.
  </p>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
<script src="/js/demo/host_header_injection/script.js"></script>
