{{- partial "demo/scripts.html" .}}
<script>
    function getValidatedEmail() {
        const email = document.getElementById("email").value;
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (emailRegex.test(email)) {
            return email;
        }
        return null;
    }

    function clearError() {
        document.getElementById("error-message").innerHTML = "";
    }

    function showError(message) {
        document.getElementById("error-message").innerHTML = message;
    }

    function updateModalAndShow(email, resetLink) {
        const modalEmail = document.getElementById('email-email');
        modalEmail.innerHTML = email;

        const modalLink = document.getElementById('reset-link');
        modalLink.href = resetLink;

        const emailModal = new bootstrap.Modal(document.getElementById('email-modal'));
        emailModal.show();
    }

    function submitForm() {
        clearError();
        const email = getValidatedEmail();
        if (email === null) {
            showError("Please enter a valid email address");
            return;
        }
        const isSecureVersionOn = getIsSecureVersionOn();
        fetch(
            getApiUrl() + "/demo/host-header-injection/password-reset/initiate?is_secure_version_on=" + isSecureVersionOn, 
            {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email })
            }
        ).then(
            response => response.json()
        ).then(
            data => {
                updateModalAndShow(email, data.reset_link);
            }
        );
    }

    function submitNewPassword() {
        clearError();
        const token = new URLSearchParams(window.location.search).get('token');
        const password = document.getElementById("new-password").value;
        if (!password) {
            showError("Please enter a new password");
            return;
        }
        fetch(
            getApiUrl() + "/demo/host-header-injection/password-reset/complete",
            {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ token, password })
            }
        )
        .then(response => {
            if (response.status !== 204) {
                throw new Error("Failed to reset password, please try again.");
            }
            window.location.href = "/demo/host-header-injection/password-reset/success";
        })
        .catch(error => {
            showError(error.message);
        });
    }

    window.onload = function() {
        document.getElementById("version-switch").checked = getIsSecureVersionOn();
    };
</script>
