# If you are using PyCharm
.idea/
# Cache files
**/__pycache__/
# Environments
venv/
# Devel database volume
/data/
/wpt_data/
# Coverage report
.coverage
# HTML posts
michalskiba_dev/static/blog/posts
