{% extends "base.html" %}

{% block meta_seo %}
<meta name="googlebot" content="noindex">
{% endblock %}

{% block title %}Michal Skiba | WPT Demo{% endblock %}

{% block navbar %}
<a class="navbar-brand secondary-text navbar-font-size" href="/">BEST Festival</a>
<button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
>
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link secondary-text" href="/tickets">Tickets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link secondary-text" href="/press">Press</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <label class="secondary-text" title="" for="version-switch">Secure version</label>
            <input type="checkbox" id="version-switch" onclick="setVersionSwitchValueCookie()">
        </li>
        {% if is_logged_in %}
        <li class="nav-item">
            <form action="/logout" method="post">
                {% csrf_token %}
                <button class="nav-link link-button secondary-text">Logout</button>
            </form>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block footer %}
<div class="warning-footer">
    <p primary-text>
        This is demo site that present security threat. Do not put any personal information here as
        it may be compromised. See
        <a
            class="link"
            href="https://blog.michalskiba.dev/post/web-parameter-tampering-simple-but-very-serious-security-risk/"
        >
            blog post
        </a>
        for more information.
    </p>
</div>
{% endblock %}

{% block script %}
<script>
    window.onload = function() {
        let switchValueFromCookie = getVersionSwitchValueFromCookie();
        document.getElementById("version-switch").checked = switchValueFromCookie;
    };
</script>
{% endblock %}
