{{- partial "demos/scripts.html" .}}
<script>
    function setAddressSearchPhrase(value) {
        localStorage.setItem("sql_injection_address_search_phrase", value);
    }

    function getAddressSearchPhrase() {
        const addressSearchPhrase = localStorage.getItem("sql_injection_address_search_phrase");
        if (addressSearchPhrase == null) {
            setAddressSearchPhrase("");
            return "";
        }
        return addressSearchPhrase
    }

    function renderParcelStores(parcelStores) {
        const container = document.createElement('div');
        parcelStores.forEach(store => {
            const tile = document.createElement('div');
            tile.classList.add('sql-injection-parcel-store-tile');
            const nameParagraph = document.createElement('p');
            const nameB = document.createElement('b');
            nameB.innerText = 'Name: ';
            nameParagraph.appendChild(nameB);
            nameParagraph.appendChild(document.createTextNode(store.name));
            
            const addressParagraph = document.createElement('p');
            const addressB = document.createElement('b');
            addressB.innerText = 'Address: ';
            addressParagraph.appendChild(addressB);
            addressParagraph.appendChild(document.createTextNode(store.address));
            
            const openingHoursParagraph = document.createElement('p');
            const hoursB = document.createElement('b');
            hoursB.innerText = 'Opening hours: ';
            openingHoursParagraph.appendChild(hoursB);
            openingHoursParagraph.appendChild(document.createTextNode(store.opening_hours));
            tile.appendChild(nameParagraph);
            tile.appendChild(addressParagraph);
            tile.appendChild(openingHoursParagraph);
            container.appendChild(tile);
        });
        const parentContainer = document.getElementById("parent-container");
        parentContainer.innerText = '';
        parentContainer.appendChild(container);
    }

    async function setLoading() {
        const parentContainer = document.getElementById("parent-container");
        parentContainer.innerText = 'Loading ...';
    }

    async function unsetLoading() {
        const parentContainer = document.getElementById("parent-container");
        parentContainer.innerText = '';
    }

    function submitForm() {
        setLoading();
        const addressSearchPhrase = encodeURI(getAddressSearchPhrase());
        const isSecureVersionOn = encodeURI(getIsSecureVersionOn());
        fetch(
            getApiUrl() + "/demo/sql-injection/parcel-stores?address_search_phrase=" + addressSearchPhrase + "&is_secure_version_on=" + isSecureVersionOn,
            {method: "GET"}
        ).then(
            async response => {
                data = await response.json();
                return data.parcel_stores;
            }
        ).then(
            parcelStores => {
                renderParcelStores(parcelStores);
            }
        ).catch(
            error => {
                console.debug(error);
                unsetLoading();
            }
        )
    }

    // Add listener to store info in local storage about search text
    document.getElementById("address-search-phrase").addEventListener('change', (event) => {
        setAddressSearchPhrase(event.target.value);
    });

    // Add listener to clear info in local storage about search text
    document.getElementById("clear-button").addEventListener('click', (event) => {
        setAddressSearchPhrase("");
        document.getElementById("address-search-phrase").value = "";
        submitForm();
    });

    // Add listener to correctly submit form
    document.getElementById("parcel-store-search-form").addEventListener("submit", (event) => {
        event.preventDefault();
        submitForm();
    });

    // Add listener to call API for parcel stores
    document.getElementById("submit-button").addEventListener("click", function() {
        submitForm();
    });

    window.onload = function() {
        document.getElementById("version-switch").checked = getIsSecureVersionOn();
        document.getElementById("address-search-phrase").value = getAddressSearchPhrase();
        submitForm();
    };
</script>
