[run]
omit =
    */__init__.py,
    */apps.py,
    */migrations/*.py,
    */settings*.py,
    */wsgi.py,
    */asgi.py,
    */test*.py,
    */manage.py

[report]
skip_covered = true
fail_under = 95
show_missing = true