[run]
omit =
    */__init__.py,
    */apps.py,
    */migrations/*.py,
    */settings*.py,
    */wsgi.py,
    */asgi.py,
    */test*.py,
    */manage.py,
    */urls.py

[report]
skip_covered = true
fail_under = 99
show_missing = true