<nav class="navbar navbar-expand-lg navbar-font-size">
  <div class="container-fluid container-lg">
    <a class="navbar-brand navbar-font-size secondary-color" href="/"
      >michalskiba.dev</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link secondary-color" href="/blog/">blog</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle secondary-color"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            demos
          </a>
          <ul class="dropdown-menu navbar-font-size primary-bg">
            <li>
              <a
                class="dropdown-item primary-bg secondary-color"
                href="/demo/sql-injection/"
                >sql injection</a
              >
            </li>
            <li>
              <a
                class="dropdown-item primary-bg secondary-color"
                href="/demo/web-parameter-tampering/press"
                >web parameter tampering</a
              >
            </li>
            <li>
              <a
                class="dropdown-item primary-bg secondary-color"
                href="/demo/host-header-injection/password-reset/initiate/"
                >host header injection</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle secondary-color"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            tech zone
          </a>
          <ul class="dropdown-menu navbar-font-size primary-bg">
            <li>
              <a
                class="dropdown-item primary-bg secondary-color"
                href="/tech-zone/infrastructure/"
                >infrastructure</a
              >
            </li>
            <li>
              <a
                class="dropdown-item primary-bg secondary-color"
                href="/tech-zone/stack/"
                >stack</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link link" href="mailto:dev.michal.skiba@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link"
            href="https://www.linkedin.com/in/michal-skiba-dev/"
          >
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link"
            href="https://github.com/dev-michal-skiba/michalskiba-dev"
          >
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
