:root {
    --primary-bg: #000000;
    --secondary-bg: #333333;
    --primary-text: #cccccc;
    --secondary-text: #00FF00;
    --extra-color: #ffff33;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-text) !important;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 70px;
}

.navbar-font-size {
    font-size: 24px;
}

.primary-bg,
.primary-bg:hover,
.primary-bg:focus {
    background-color: var(--primary-bg);
}

.secondary-bg,
.secondary-bg:hover,
.secondary-bg:focus {
    background-color: var(--secondary-bg);
}

.primary-text {
    color: var(--primary-text) !important;;
}

.secondary-text,
.secondary-text:focus {
    color: var(--secondary-text) !important;;
    font-family: 'VT323', sans-serif;
}

.secondary-text:hover {
    color: var(--extra-color) !important;;
}

.extra-text {
    color: var(--extra-color) !important;;
}

.div-link,
.div-link:hover,
.div-link:focus {
    text-decoration: none;
    color: var(--primary-color) !important;
}

.blog-post-tile {
    border-style: none none dashed none;
    border-color: var(--extra-color);
    margin: 10px;
    padding: 10px;
}

hr {
    border: none;
    border-top: 3px dashed var(--extra-color);
    opacity: 1;
}

strong {
    color: var(--secondary-text);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.link,
li a,
.link:focus,
li a:focus,
.link:visited,
li a:visited,
.link:active,
li a:active {
    color: var(--secondary-text) !important;;
    text-decoration: none;
}

.link:hover,
li a:hover {
    color: var(--extra-color) !important;;
}

.toc_container {
    padding: 20px;
    border: 2px solid var(--extra-color);
    border-style: dashed none dashed none;
    margin: 40px 0 40px 0;
}

#contact-info {
    list-style-type: none;
}

.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
}

input[type="checkbox"] {
    accent-color: var(--extra-color);
    width: 0.5em;
    height: 0.5em;
    border: none;
    border-radius: 0.15em;
}

.primary-button,
.primary-button:hover,
.primary-button:active,
.primary-button:focus {
    background-color: var(--secondary-text);
    color: black !important;;
}

.secondary-button,
.secondary-button:hover,
.secondary-button:active,
.secondary-button:focus {
    background-color: var(--extra-color);
    color: black !important;;
}

.link-button,
.link-button:active,
.link-button:focus {
    background-color: black;
    border: none;
    cursor: default;
    margin: 0;
    padding: 0;
}

.link-button:hover {
    color: var(--extra-color) !important;;
}

.warning-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #660000;
    color: white !important;;
    text-align: center;
    height: auto;
    padding: 5px;
}

.post-img {
    border: gray 1px solid;
    margin: 20px 0 20px 0;
}

.arch-img {
    border: None;
    width: 60%;
    height: auto;
    margin: 20px 20% 20px 20%;
}

.justify {
    text-align: justify;
}

.sql-injection-parcel-store-tile {
    border-style: none none dashed none;
    border-color: var(--extra-color);
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.error {
    color: red
}

.success {
    color: green;
}

.nav-item .dropdown-toggle::after {
    display: none; /* Hide the arrow */
}

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}
