{% extends "blog/base.html" %}
{% load static %}
{% load icons %}

{% block meta_seo %}
<meta
    name="description"
    content="Welcome to my blog! I'm Michał Skiba, a professional Python web developer and computer
        science enthusiast. Recently I have dedicated myself to the exciting field of
        exploring security of web applications and analysing protections that developers should be
        aware of.">
{% endblock %}

{% block content %}
<div class="container-lg">
    <div>
        <h2>Contact Info</h2>
        <ul id="contact-info">
            <li>
                <a class="link" href="mailto:dev.michal.skiba@gmail.com">
                    {% icon 'email' %} dev.michal.skiba@gmail.com
                </a>
            </li>
            <li>
                <a class="link" href="https://www.linkedin.com/in/michal-skiba-dev/">
                    {% icon 'linkedin' %} LinkedIn
                </a>
            </li>
            <li>
                <a class="link" href="https://github.com/dev-michal-skiba">
                    {% icon 'github' %} GitHub
                </a>
            </li>
        </ul>
    </div>
    <div>
        <h2>About Me</h2>
        <p>
            Welcome to my blog! I'm Michał Skiba, a professional Python web developer and computer
            science enthusiast. Recently I have dedicated myself to the exciting field of
            exploring security of web applications and analysing protections that developers should be
            aware of.
        </p>
        <p>
            Through this blog, I aim to provide valuable insights and practical demonstrations of
            cybersecurity threats in web development. My goal is to empower fellow developers with the
            knowledge and tools they need to build resilient and secure web applications. I firmly
            believe that by sharing live demos and practical examples, we can enhance the security
            posture of web development projects and mitigate potential risks.
        </p>
        <p>
            This blog is mainly targeted at developers looking to enhance their security skills.
            You'll find detailed explanations of various attack vectors, best practices to prevent
            common vulnerabilities, and step-by-step demonstrations of secure coding techniques.
        </p>
        <p>
            This blog is not targeted for people who want to see beautiful cutting-edge UI, because
            I specialize at backend part of web applications, so don't expect this blog to become
            piece of art :)
        </p>
        <img
            id="about-me-meme-img"
            src="{% static 'about_me/backend_developer_meme.jpeg' %}" alt="backend developer meme"
        >
    </div>
</div>
{% endblock %}
