{{- partial "scripts.html" .}}
<script>
    function setIsSecureVersionOn(value) {
        localStorage.setItem("is_secure_version_on", value);
    }

    function getIsSecureVersionOn() {
        const is_secure_version_on = localStorage.getItem("is_secure_version_on");
        if (is_secure_version_on == null) {
            setIsSecureVersionOn("true");
            return true;
        }
        return is_secure_version_on.toLowerCase() !== "false";
    }

    function versionSwitchClick() {
        let is_secure_version_on = getIsSecureVersionOn();
        setIsSecureVersionOn(!is_secure_version_on);
        window.location.reload();
    }

    function encodeURI(value) {
        return encodeURIComponent(value).replace(/-/g, "%2D");
    }
</script>
