{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'michalskib_dev_logo.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=VT323&display=swap">
    <script src="https://kit.fontawesome.com/6c0563eb2b.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-font-size">
        <div class="container-lg primary-bg">
            {% block navbar %}
            {% endblock %}
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <script src="{% static 'bootstrap-5.2.3/js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>