{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_seo %}{% endblock %}
    <link rel="icon" href="{% static 'michalskib_dev_logo.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=VT323&display=swap">
    <script src="https://kit.fontawesome.com/6c0563eb2b.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-font-size">
        <div class="container-lg primary-bg">
            {% block navbar %}
            {% endblock %}
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <script src="{% static 'bootstrap-5.2.3/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function setCookie(cname, cvalue) {
            document.cookie = cname + "=" + cvalue + "; Path=/; SameSite=Lax; Secure";
        }

        function getVersionSwitchValueFromCookie() {
            const cookie_value = getCookie("is_secure_version_on");
            return cookie_value.toLowerCase() !== "false";
        }

        function setVersionSwitchValueCookie() {
            const isChecked = document.getElementById("version-switch").checked;
            let cookieValue;
            if ( isChecked === true )
                cookieValue = "true";
            else
                cookieValue = "false";
            setCookie("is_secure_version_on", cookieValue);
            location.reload();
        }
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>